body {
  font-family: Arial, sans-serif;
  padding: 15px;
  background: #f5f5f5;
}

h1 {
  text-align: center;
}

.card {
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  font-size: 16px;
}
